.logo {
  position: relative;
  animation: rotation 3s infinite linear;
  width: 100px;
  height: 100px;
  pointer-events: auto;
  opacity: 0.5;
}

.logo:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
