/* Import CSS variables from constants */
@import "../../config/css-variables.css";

.footer {
  padding: var(--footer-padding, 20px) 0;
  position: relative;
  opacity: 1;
  background-color: transparent;
}

.footer--main {
  margin-top: var(--footer-main-margin);
}

.footer--music {
  margin-top: var(--footer-music-margin);
  /* background-color: #ff74ea2e; */
}

.footer__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--footer-container-padding, 40px);
  position: relative;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: var(--mobile-breakpoint)) {
  .footer__container {
    padding: 0 var(--footer-container-padding-mobile, 16px);
  }
}
